@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans+SC:wght@500&display=swap");

.modal {
  max-width: 50vh;
}
.modal > * {
  margin: 0 0 0.5rem 0;
}

.modal::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

/* extra styling */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 2rem;
  font-family: system-ui;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #10454f;
  background-color: #a3ab78;
}

h1,
p {
  text-align: center;
}

p {
  font-size: 0.8em;
}

h1 em {
  color: #bde038;
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

.button {
  border: 0;
  cursor: pointer;
  background: #10454f;
  color: lightgray;
  font-weight: 700;
  padding: 1em 2em;
  align-self: center;
  width: fit-content;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background: #bde038;
  color: #10454f;
}

form {
  display: grid;
  gap: 1em;
  font-size: 0.8em;
}
