body {
  background-color: #254d4e;
  color: #f7a04a;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em auto;
}

h1 {
  font-family: "Alegreya", serif;
  font-size: 3em;
  font-weight: 400;

  margin-bottom: 0;
}

p {
  font-family: "Alegraya Sans", sans-serif;
  letter-spacing: 0.14em;
  font-weight: 100;
  font-size: 0.9em;
}
