body {
  background-color: #5291cc;
  color: #a5fc8f;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em auto;
}

h1 {
  font-family: "Alegreya", serif;
  font-size: 3em;
  font-weight: 400;

  margin-bottom: 0;
}

p {
  font-family: "Alegraya Sans", sans-serif;
  letter-spacing: 0.14em;
  font-weight: 100;
  font-size: 0.9em;
}

.poll {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 1.2em;
  color: #05529b;
  background-color: #fabf52;

  margin: 1em 1em;
  padding: 1em 1em;
  border-radius: 1em;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
