body {
  display: grid;
  place-items: center;
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  background: #e9e5e5;
}

div {
  font-size: 2em;
  font-weight: 300;
}

.container {
  background: #fff;
  padding: 15px;
  box-shadow: 0 1px 2px #0900094d;
  border-radius: 1px;
}

span {
  color: grey;
  font-weight: 300;
}
