body {
  background-color: #cc9352;
  color: #690319;
}

body {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  margin: 2em 2em;
  padding: 2em 2em 3em 2em;
  border-radius: 1em;
}

h1 {
  font-family: "Alegreya", serif;
  font-size: 3.3em;
  font-weight: 400;
  text-align: center;

  margin-bottom: 0.5em;
}

p {
  font-family: "Alegraya Sans", sans-serif;
  letter-spacing: 0.14em;
  font-weight: 100;
  font-size: 1.2em;
  text-align: center;
}
